@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

}

*{
  font-family: Montserrat;
}

.active li{
  @apply rounded-3xl px-4 py-2;
  @apply transition-all duration-300 ease-in-out;
}

li {
  @apply rounded-3xl px-4 py-2;
  @apply transition-all duration-300 ease-in-out;
}

::-webkit-scrollbar{
  @apply hidden
}



@keyframes slideIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* Style for all list items */
.nav-links li {
  @apply rounded-4xl  relative z-10 transition-colors duration-300;
}

/* Active link text color */
.nav-links .active li {
  @apply text-white;
}

.group:hover .hidden {
  display: block;
}

.nav-links {
  position: relative;
}

.nav-links::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #6366f1;
  width: var(--slide-width);
  left: var(--slide-left);
  transition: all 0.3s ease;
  transform-origin: var(--slide-direction);
}